<nav class="navbar bg-success">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <span class="navbar-brand mb-0 h1 text-light">
            <i class="fas fa-shopping-cart fa-2x" id="card-icon"></i>
        </span>
    </div>
</nav>