<div class="container">
    <div class="row d-flex justify-content-center gap-3">

{{#each products}}

<div class="col-md-3 mt-5">
    <div class="card mx-auto" style="width: 18rem;">
  <img src="img/{{this}}.png" class="card-img-top" alt="{{this}}">
  <div class="card-body">
    <p class="card-title"><h3>{{this}}</h3></p>
  </div>
</div>
</div>

{{/each}}

    </div>
</div>